@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #ffffff;
    --cor-text: #dc1150;
    --cor-paragraph: #656565;
}

body {
    font-family: 'Roboto',Arial,sans-serif;
}

header .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    margin: 16px 0px 0px;
    gap: 10px;
}

header .home input {
   width: 40rem;
   height: 37px;

   margin-left: 40px;

   padding: 8px 3px 7px 7px;

   border: solid thin #ebebeb;
   border-right: none;

   background: #fff;
   font-style: italic;
   color: #555;
   float: left;
   transition: all .2s ease-in-out;
}

header .home svg {
    width: 50px;
    height: 50px;

    margin-left: 10rem;
}

.links-menu nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.links-menu nav ul li {
    border: 1px solid rgba(0, 0, 0, 0.525);
    padding: 11px;
    border-color: #eee;
    border-left-color: #fff;
    border-width: 0px 1px 0px 0px;
    display: block;
    font-size: 11px;
    line-height: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.links-menu nav ul li a {
    color: black;
    text-decoration: none;
    border-color: #eee;
    border-left-color: #fff;
    border-style: solid;
    border-width: 0 1px 0 0;
    line-height: 30px;
}

.links-menu .btn-roxo {
    border-bottom: 3px solid #cca6ff;
}

.links-menu .btn-azul-claro {
    border-bottom: 3px solid #69ffc2;
}

.links-menu .btn-amarelo {
    border-bottom: 3px solid #fff070;
}

.links-menu .btn-vermelho {
    border-bottom: 3px solid #dc1150;
}

main {
    max-width: 100%;
}

main section#image-main img {
    width: 86rem;
    height: 44rem;
}

#image-main {
    margin-bottom: 2.5rem;
}

#image-main .image {
    width: 70rem;
    height: 35rem;
    margin-left: 8rem;
}

#image-main .informations {
    display: flex;
    justify-content: space-around;
}

#image-main .informations .information {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition-duration: .8s;
}

#image-main .informations .information img {
    width: 30px;
    height: auto;
    margin-left: 20px;
    display: block;
    float: left;
}

#image-main .informations .information p {
    font-weight: bold;
}

#image-main .informations .information:hover {
    text-decoration: underline;
    cursor: pointer;
}

#highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin: 1rem;
}

#highlights .highlight {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#highlights .highlight img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    object-fit: cover;
    transition-duration: .6s;
}

#highlights .highlight img:hover {
    transform: scale(1.1) rotate(-4deg);
}

#highlights .highlight p {
    color: var(--cor-paragraph);
    font-size: 1.2rem;
    font-weight: 500;
}

#highlights .highlight h3 {
    color: var(--cor-text);
    font-size: 1.5rem;
    font-weight: bold;
}

#prices {
    margin: 2rem;
}

#prices h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#prices .images {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1.2rem;
}

#prices .images .price img {
    transition-duration: .8s;
}

#prices .images .price img:hover {
    transform: scale(1.1) rotate(-4deg);
}

#selections {
    /* border: 1px solid red; */

    margin: 3rem;

    padding: 10px;
}

#selections h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#selections .carrossel {
    display: flex;
    gap: 2rem;
}

#selections .section-title {
    text-align: center;
    color: var(--cor-paragraph);
}

#selections .carrossel .selection {
    display: flex;
    flex-direction: column;
}

#selections .carrossel .selection img {
    width: auto;
    height: 19rem;
    transition-duration: .5s;
}

#selections .carrossel .selection img:hover {
    border-radius: 5rem;
    transform: scale(1.05);
}

#selections .carrossel .selection p {
    margin-top: .5rem;
    color: var(--cor-paragraph);
}

#selections .carrossel .selection .text-color,
#selections .carrossel .selection h3 {
    color: var(--cor-text);
    font-weight: bold;
}

#highs {
    /* border: 1px solid red; */

    padding: 2rem;
}

#highs h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#highs .high-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#highs .high-images .high {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#highs .high-images .high p {
    color: var(--cor-paragraph);
}

#highs .high-images .high h3 {
    font-weight: bold;

    color: var(--cor-text);
}

#highs .high-images .high p.to-bye {
    text-decoration: underline;
    cursor: pointer;
    color: #656565;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 3px;
}

#highs .high-images .high img {
    transition-duration: .5s;
}

#highs .high-images .high img:hover {
    transform: scale(1.1);
}

#opportunities {
    /* border: 1px solid red; */

    margin: 3rem;
}

#opportunities h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#opportunities .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#opportunities .images img {
    transition-duration: .8s;
}

#opportunities .images img:hover {
    transform: scale(1.1);
}

#opportunities .images p {
    color: var(--cor-paragraph);
    font-size: 16px;
    font-weight: 500;
}

#opportunities .images .opportunitie p.bye-opportunitie {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

#opportunities .images h3 {
    color: var(--cor-text);
    font-weight: bold;
}

#opportunities .images .opportunitie {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

#marks .images {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

#marks h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#marks .images {
    padding: 1rem;

    margin: 1rem;
}

#marks .mark img {
    width: 121px;
    height: auto !important;

    transition-duration: .4s;
}

#marks .mark img:hover {
    transform: scale(1.1);
}

#persons {
    margin: 2rem;
}

#persons h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#persons .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}

#persons .images .person img {
    width: 121px;
    height: auto !important;

    transition-duration: .4s;
}

#persons .images .person img:hover {
    transform: scale(1.1);
}

#disney-special {
    width: 100%;
    height: auto;
}

#disney-special h2 {
    font-size: 18px !important;
    text-align: center;
    color: var(--cor-paragraph);
    text-transform: uppercase;
    font-weight: 600 !important;
    overflow: hidden;
    margin: 1rem 0 30px -55px !important;
    letter-spacing: 0.25em;
}

#disney-special .images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#disney-special .images .special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#disney-special .images .special img {
    width: 121px;
    height: auto !important;

    transition-duration: .4s;
}

#disney-special .images .special img:hover {
    transform: scale(1.1);
}

#disney-special .images .special p {
    color: var(--cor-paragraph);
    margin-top: 1rem;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 14px;
}

@media screen and (max-width: 375px) {

    body {
        overflow-x: hidden;
    }

    header .home {
        display: flex;
        flex-direction: column;

        margin-top: 4rem;
    }

    header .home input {
        width: 300px;
        height: 300px;
    }

    header .links-menu {
        display: none;
    }

    main #image-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main #image-main .informations {
        display: flex;
        flex-direction: column;
    }

    main #image-main .image {
        width: 19rem;
        height: auto;
        position: relative;
        right: 3rem;
    }

    main #highlights {
        display: flex;
        flex-direction: column;
    }

    main #prices h2.section-title {
        text-align: center;
        position: relative;
        left: 2rem;
    }

    main #prices .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    main #selections .section-title {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #selections .carrossel {
        display: flex;
        flex-direction: column;
    }

    main #highs h2 {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #highs .high-images {
        display: flex;
        flex-direction: column;
    }

    main #opportunities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main #opportunities h2.section-title-text {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #opportunities .images {
        display: flex;
        flex-direction: column;
    }

    main #marks h2 {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #marks .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main #persons h2 {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #persons .images {
        display: flex;
        flex-direction: column;
    }

    main #disney-special h2 {
        text-align: center;

        position: relative;
        left: 2rem;
    }

    main #disney-special .images {
        display: flex;
        flex-direction: column;
    }
}

